* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
}

button {
    cursor: pointer;
}

/* Typography */

h1, h2 {
    font-weight: 400;
}

header > h1 {
    margin: 0;
    font-size: 2.44rem;

}
header > h2 {
    margin-top: .75rem;
    font-size: 1.3rem;
}

h3 {
    font-weight: 400;
    font-size: 1.75rem;
    margin: 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 30px 0 0 0;
}

p {
    font-size: 1.25rem;
    color: #000000;
}

/* Utility classes */

.display-flex {
    display: flex;
}

.align-center {
    text-align: center;
}



/* Layout */

header {
    background-image: url(/assets/bg\ img.png);
    background-size: cover;
    height: 167px;
    padding: 46px 0 70px 46px;
    color: white;
    
}

.menu {
    margin-top: 67px;
}

.item-container {
    align-items: start;
    justify-content: space-between;
    margin: 0 46px 45px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 2.5rem;
}

.your-order {
    padding: 0 46px 50px;
}

ul {
    padding: 0;
    margin-top: 5rem;
}
.cart-total, .list-item {
    justify-content: space-between;
    align-items: center;
}

.list-item * {
    margin: 0 0 5px;
}

.cart-total {
    border-top: 2px solid #393333;
    padding-bottom: 2rem;
}



/* menu-item-styling */

.item-emoji {
    font-size: 65px;
    margin-right: 2rem;
}

.item-name {
    margin: 0 0 5px;
    color: black;
}

.item-ingredients {
    margin: 0;
    font-size: 1rem;
    color: #8B8B8B;
}

.item-price {
    margin: 8px 0 0;
}


/* buttons */

.add-item-btn {
    background: none;
    border: none;
}

.remove-btn {
    background: none;
    border: none;
    color: #BBBBBB;
    margin-left: .5rem;
}

.green-btn {
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    width: 100%;
    padding: 18px;
}


/* Modal */

.payment-form {
    flex-direction: column;
}

.payment-modal {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    margin: auto;
    height: 430px;
    width: 400px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 200px #000000;
    font-family: "Karla", sans-serif;;
}

.payment-form {
    padding: 47px 25px 30px; 
}

.payment-form > input {
    margin-bottom: 10px;
    padding: 16px;
    font-size: 1.125rem;
}

.payment-form > button {
    margin-top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}